h1 {
  color: #ffffff;
}
h2{
  color: #24d88dab;
}
/* h4{
  color: #24d88dab;
  margin-top: 80px; 

}*/
.wrapper {
  display: flex;
}

#main-section {
  overflow: hidden; 
  width: 100%;
  
}

#sidebar {
  background-color: #fffffff6;
  margin-top: 3em;
  float: left; 
  min-height: 94vh;
  min-width: 52vh;
  padding-left: 1em;
  padding-top: 2.5em;
  padding-right:1em;
  border-right: 0.001px solid #b2b4b3;
}

#sidebar p {
  padding-left: 3em;
  padding-right:2em;
}

#sidebar p:hover {
  background-color: #24d88dab;
}

#sidebar h4 {padding-left: 0.5em;}


#sidebar.view-sidebar {display: none;}

#show-sidebar-button {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  color: #335177;
}

@media (max-width: 567px) {
  #sidebar {
      display: none;
  }

  #sidebar.view-sidebar {
      display: block;
  }

  #show-sidebar-button {
      visibility: visible;
      opacity: 1;
  }
}


.cursor-pointer {
  cursor: pointer;
}

#rightside-pannel {
  overflow: hidden; /* Make this div take up the rest of the horizontal space, and no more */
  background-color: #fafafaf6;
  margin-top: -1em;
}

#mostrar-mensajes {
  background-image: url("/static/img/fondo_chat.jpg");
  margin-top: 5em;
  min-height: 82vh;
  max-height: 82vh;
  overflow-y: auto; /*Make  this section scrolable */  ;

}

#mostrar-mensajes p{
  margin-left: 40px;
  margin-right: 10px;
  margin-top: 20px;
  background-color: #ffffff;
}

#input-area {
  padding-left: 1em;
  padding-right: 1em;
  bottom: 0;
  margin-top: 5px;
 
}

#input-nueva-sala{
  padding-left: 1em;
  padding-right: 1em;
  bottom: 0;
}

#crear-sala{
  margin-left: 30px;
  margin-right: 10px;
  margin-top:8px;
  padding-left: 2em;
  padding-right: 3.1em;
  bottom: 0;
}
#eliminar-sala{
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 8px;
  padding-left: 2em;
  padding-right: 2em;
  bottom: 0;
}


input[type=text]:focus{
  border-color: #24d88dab;
  box-shadow: 0px 1px 1px rgb(33, 179, 98) inset, 0px 0px 10px #24d88dab;
}


@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}