<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>

    </nav>

    <div id="main-section">
        <nav id="sidebar">
            <h4>ROOMS</h4>
            {% for room in rooms %}
                <p class="select-room">{{ room|title}}</p>
            {% endfor %}    
        </nav>

        <div id="rightside-pannel">
            <div id="display-message-section">

            </div>
            <div id="input-area">
                <input type="text" id="user_message" placeholder="Type here..." autocomplete="off">
                <button type="button" id="send_message">SEND</button>
            </div>
        </div>
    </div>

    <!--Obtener usuario-->
    <script type="text/javascript">
        const usuario = `{{usuario}}`;
    </script>

    <script src="{{ url_for('static', filename='scripts/chat_page.js')}}"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='scripts/socketio.js')}}">
    </script>


</body>

</html>