{% from 'formulario.html' import displayField %}
{% extends "prelogin.html" %}

{% block title %}Registro{% endblock title%}

{% block content %}
        <h2>Registro Usuario</h2>
        <form action="{{ url_for('index') }}", method="POST">
            {{ displayField(form.usuario, 'Usuario', autocomplete="off", autofocus=true) }}
            {{ displayField(form.contraseña, 'Contraseña') }}
            {{ displayField(form.confirmar_contraseña, 'Confirmar_Contraseña') }}

        <div>
          {{ form.boton_registro}}
        </div>
        

        {{ form.csrf_token }}

    </form>

{% endblock %}