{% from 'formulario.html' import displayField %}
{% extends "prelogin.html" %}

{% block title %}Registro ChatpyApp{% endblock title%}

{% block content %}
        <h2>Registro Usuario</h2>
        <form action="{{ url_for('index') }}", method="POST">
            {{ displayField(form.usuario, 'Usuario', autocomplete="off", autofocus=true) }}
            {{ displayField(form.contrasena, 'Contraseña') }}
            {{ displayField(form.confirmar_contrasena, 'Confirmar contraseña') }}
            {{ displayField(form.nombre, 'Nombre') }}
            {{ displayField(form.apellido, 'Apellido') }}
            {{ displayField(form.edad, 'Edad') }}
            {{ displayField(form.genero, 'Género') }}

        <div>
          {{ form.boton_registro}}
        </div>
        

        {{ form.csrf_token }}

    </form>

{% endblock %}