h1 {   
    text-align: center;
    margin-top: 20px; 
    color: #26ac6d;
}

h2 {  
    text-align: center;
    margin-top: 20px; 
    color: #32d8b4;
}

img {
    float: left;
    max-width: 100%;
    max-height: 480px;
}


/* formualario */
input[type='text']:focus, input[type='password']:focus {
    border-color: #32d8b4;
    box-shadow: 0px 1px 1px rgb(33, 179, 98) inset, 0px 0px 10px #32d8b4;
}

form {
    text-align: center;
    max-width: 350px;
    margin: 0 auto; 
}

footer {
	background-color:white;
	height: 50%;
    color: darkgray;
    padding: 15px;
}


/* panel superior titulo y logo */
.panel-superior{    
    padding-top: 1em;
    padding-bottom: 2em;
}

.titulo{
    width: 100%;
    background: url('/static/img/Logo1.png')
    no-repeat;
    position: relative;
    height: 65px;
    background-position-x: 500px;
    background-position-y: px;
}

#main-section {
    overflow: hidden; 
    width: 100%;
}

#image-section {
    min-width: 26%;
    max-width: 26%;
    margin-right: 1em;
    padding: 0 0 0 1em;
    float: left;
}

